a {
    color: #719744;
    text-decoration: none;
}
.leftSideBar {
    background: #2c4762;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    top: 0;
    /*left: 0;*/
}
.main {
    padding-top: 20px;
    margin-left: 260px;
}
h1.logo {
    text-align: center;
    color: #719744;
    text-shadow: 2px 2px 2px #395875;
}
.row label {
    display: block;
    margin-bottom: 5px;
}
.row {
    margin-bottom: 20px;
}
.error {
    color: #e22;
    margin-top: 5px;
    display: none;
    font-size: 85%;
}
.hasError .error {
    display: block;
}
.mute {
    color: #bbb;
}
table {
    margin: 10px 0;
}
td, th {
    padding: 5px 10px;
    border: 1px solid #eee;
}
th {
    font-weight: bold;
    border: 1px solid #ccc;
    background: #f2f2f2;
}
.aRight {
    text-align: right;
}
.full {
    width: 100%;
}
.noBorder td {
    border: 0;
}
.padRight40 {
    padding-right: 40px;
}
.noBorder td:first-child {
    font-weight: bold;
}
.center {
    text-align: center;
}
/* Menu */
.menu {
    list-style: none inside;
    padding: 0 20px;
}
.menu li {
    margin-left: 0;
}
.menu a {
    font-weight: bold;
    text-decoration: none;
    color: #f2f2f2;
}
.menu a:hover {
    color: #719744;
}
table a {
    font-size: 12px;
    font-weight: bold;
}
h1, h2, h3 {
    color: #395875;
}
h1, h2 {
    border-bottom: 1px solid #395875;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #f2f2f2;
}
.mb0 {
    margin-bottom: 0;
}
input[type="text"] {
    width: 100%;
}
.chkbox label {
    display: inline;
}
/*

.container_12 {
    position: relative;
}
*/
.lAdd {
    margin-top: 20px;
}
.lAdd legend {
    font-size: 20px;
    font-weight: bold;
    color: #719744;
}
.lAdd select {
    width: 100%;
}
td {
    vertical-align: baseline;
}
.hidden {
    display: none;
}
