.leftSideBar {
    background: #e2e2e2;
}
h1.logo {
    text-align: center;
}
.row label {
    display: block;
    margin-bottom: 5px;
}
.row {
    margin-bottom: 20px;
}
.error {
    color: #e22;
    margin-top: 5px;
    display: none;
    font-size: 85%;
}
.hasError .error {
    display: block;
}
.mute {
    color: #bbb;
}
table {
    margin: 20px 0;
}
td, th {
    padding: 5px 10px;
    border: 1px solid #eee;
}
th {
    font-weight: bold;
    border: 1px solid #ccc;
    background: #f2f2f2;
}
.aRight {
    text-align: right;
}
.full {
    width: 100%;
}
