.leftSideBar {
    background: #e2e2e2;
}
h1.logo {
    text-align: center;
}
.row label {
    display: block;
    margin-bottom: 5px;
}
.row {
    margin-bottom: 20px;
}
.error {
    color: #e22;
    margin-top: 5px;
    display: none;
}
.hasError .error {
    display: block;
}

