#{extends 'main.html' /}
#{set title:'New Form' /}

<h1>${title}</h1>

<div class="grid_6 alpha">
#{form @submit()}
    #{field 'form.name'}
        <p class="${field.errorClass} row">
            <label for="${field.name}">Name</label>
            <input class="input_full" type="text" id="${field.name}" name="${field.name}" size="16" value="${form?.name}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    <div>
    #{field 'form.shortName'}
        <p class="${field.errorClass} row grid_3 alpha">
            <label for="${field.name}">Short Name</label>
            <input class="input_full" type="text" id="${field.name}" name="${field.name}" size="16" value="${form?.shortName}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
   
   #{field 'form.validity'}
        <p class="${field.errorClass} row grid_3 omega">
            <label for="${field.name}">Validity <span class="mute">(days)</span></label>
            <input class="input_full" type="text" id="${field.name}" name="${field.name}" size="16" value="${form?.validity}">
            <span class="error">${field.error}</span>
        </p>
    #{/field}
        <div class="clear"></div>
    </div>
    
    
    #{field 'form.autoCreate'}
        <p class="${field.errorClass} row chkbox">
            <input class="toogleHidden" type="checkbox" id="${field.name}" name="${field.name}" #{if form?.autoCreate}checked#{/if} />
            <label for="${field.name}">Auto create this form</label>
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    <div#{ifnot form?.autoCreate} class="hidden"#{/ifnot}>
    #{field 'form.autoCreateAfter'}
        <p class="${field.errorClass} row grid_3 alpha">
            <label for="${field.name}">Auto create after <span class="mute">(days)</span></label>
            <input class="input_full" type="text" id="${field.name}" name="${field.name}" size="16" value="${form?.autoCreateAfter}" />
            <span class="error">${field.error}</span>
        </p>
    #{/field}
   
        <p class="${field.errorClass} row grid_3 omega">
            <label for="autoCreateEvent">Invoke with the following event</label>
            <select name="${field.name}" id="${field.name}">
                <option value="None">None</option>
                <option value="REGISTRATION">Registration</option>
                <option value="DELIVERY">Delivery</option>
                <option value="LMP">LMP</option>
            </select> 
        </p>
        <div class="clear">&nbsp;</div>
    </div>
    
    <p class="buttons">
        <input type="submit" value="Save Form">
    </p>
#{/form}
</div>