#{extends 'main.html' /}
#{set title:'Forms' /}

<h1>Forms</h1>

<table class="full">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Short Name</th>
            <th></th>
            <th></th>
        </tr>
    <thead>
    <tbody>
        #{list items:forms, as:'form'}
        <tr>
            <td class="aRight">${form.id}</td>
            <td>${form.name}</td>
            <td>${form.shortName}</td>
            <td class="center"><a href="@{Forms.view(form.id)}">VIEW</a></td>
            <td class="center"><a href="@{Forms.edit(form.id)}">EDIT</a></td>
        </tr>
        #{/list}
        #{else}
        <tr>
            <td colspan="5" class="center">No Form Available</td>
        </tr>
        #{/else}
    <tbody>
</table>