#{extends 'main.html' /}
#{set title:form.name /}

<h1>${form.name}</h1>

<table class="noBorder">
    <tr>
        <td>Name</td>
        <td>${form.name}</td>
    </tr>
    <tr>
        <td class="padRight40">Short Name</td>
        <td>${form.shortName}</td>
    </tr>
    <tr>
        <td>Validity <span class="mute">(days)</span></td>
        <td>${form.validity}</td>
    </tr>
    #{if form.autoCreate}
    <tr>
        <td>Auto Create</td>
        <td>${form.autoCreate.capFirst()}</td>
    </tr>
    <tr>
        <td>After <span class="mute">(days)</span></td>
        <td>${form.autoCreateAfter}</td>
    </tr>
    <tr>
        <td>After <span class="mute">(event)</span></td>
        <td>${form.autoCreateTrigger}</td>
    </tr>
    
    #{/if}
</table>

<h2>Logics</h2>
<table class="full">
        <thead>
        <tr>
            <th>Status</th>
            <th>${form.validity} day(s) After</th>
            <th>Outcome</th>
            <th>Go to</th>
            <th>After (days)</th>
            <th>After (event)</th>
        </tr>
    <thead>
    <tbody>
        #{list items:form.logics, as:'logic'}
        <tr>
            <td>${logic.status}</td>
            <td>${logic.base}</td>
            <td>${logic.outcome}</td>
            <td>${logic.destination.shortName}</td>
            <td class="aRight">${logic.duration}</td>
            <td>${logic.event}</td>
        </tr>
        #{/list}
        #{else}
        <tr>
            <td colspan="6" class="center">No Logic Available</td>
        </tr>
        #{/else}
    <tbody>
</table>



<fieldset class="lAdd">
    
    <legend>Add Logic</legend>

<table class="noBorder">
    #{form @addLogic(form.id)}
        
        #{field 'status'}
        <tr>
            <td>
                <label for="${field.name}">Status</label>
            </td>
            <td>
                #{select items:models.Woman.StatusCode.values(), name:field.name, id:field.name, value:field.value /}
                <span class="error">${field.error}</span>
            </td>
        </tr>
        #{/field}
        
        #{field 'base'}
        <tr>
            <td>
                <label for="${field.name}">${form.validity} day(s) After</label>
            </td>
            <td>
                #{select items:models.Woman.Event.values(), name:field.name, id:field.name, value:field.value /}
                <span class="error">${field.error}</span>
            </td>
        </tr>
        #{/field}
        
        #{field 'outcome'}
        <tr>
            <td>
                <label for="${field.name}">Outcome</label>
            </td>
            <td>
                #{select items:models.Woman.Outcome.values(), name:field.name, id:field.name, value:field.value /}
                <span class="error">${field.error}</span>
            </td>
        </tr>
        #{/field}
        
        #{field 'destination_id'}
        <tr>
            <td>
                <label for="${field.name}">Go to</label>
            </td>
            <td>
                #{select "${field.name}", items:forms, labelProperty:'shortName' /}
                <span class="error">${field.error}</span>
            <td>
        </tr>
        #{/field}
        
        #{field 'duration'}
        <tr>
            <td>
                <label for="${field.name}">After <span class="mute">(days)</span></label>
            </td>
            <td>
                <input type="text" name="${field.name}" id="${field.name}" value="${duration}" />
                <span class="error">${field.error}</span>
            <td>
        </tr>
        #{/field}
        
        #{field 'event'}
        <tr>
            <td>
                <label for="${field.name}">After <span class="mute">(event)</span></label>
            </td>
            <td>
                #{select items:models.Woman.Event.values(), name:field.name, id:field.name, value:field.value /}
                <span class="error">${field.error}</span>
            <td>
        </tr>
        #{/field}
        
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Add" /></td>
        </tr>
        
    #{/form}
</fieldset>