#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Schedule</h1>

<div class="aRight">
    <label for="sectorId">Filter by Sector ID</label>
    #{select 'sectorId', 'items':sectors, id:'sectorId' /}
</div>

<div class="data">#{table events:events /}</div>

<script type="text/javascript">
	$(function(){
	    $('#sectorId').change(function(){
			var id = $(this).val();
			$.post('@{filter()}', {id: id}, function(data){
                if(data) {
                    $('.data').slideUp(function(){
                        $('.data').html(data).slideDown();
                    });
                }
            });
	    }) 
	});
</script>