#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Schedule</h1>

<div class="aRight">
    <label for="sectorId">Filter by Sector ID</label>
    #{select 'sectorId', 'items':sectors /}
</div>

<table class="full">
	<tr>
	    <th>Date</th>
        <th>Sector ID</th>
	    <th>HHID</th>
	    <th>Name</th>
	    <th>Form</th>
	</tr>
	#{list items:events, as:'event'}
	<tr>
        <td>${event.start.format("dd MMMM yyyy")}</td>
        <td class="aRight">${event.woman.sectorId}</td>
        <td class="aRight">${event.woman.hhId}</td>
        <td>${event.woman.name}</td>
        <td>${event.form.name}</td>
    </tr>
	#{/list}
</table>